<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stage 2</title>
</head>
<body>
<h1>OCR Training Tool</h1>
{% if current_user.is_authenticated %}
  Logged in as: {{ current_user.username }} (<a href="/logout">Log Out</a>)<br />
{% endif %}
{% if other_users %}<h2>This page is currently being edited by {{ other_users.username }}, your changes may be overwritten</h2>{% endif %}
<form method="POST" action="/edit/{{ page.id }}/stage2">
    <table border="1">
        <tr>
            <td rowspan="0"><img src="{{  url_for('static', filename='images/%s/%s.crop.png'%(page.dirpath, page.id)) }}" /></td>
        </tr>
        <tr>
            <th>Line text</th>
            <th>Marginalia</th>
            <th>Line missing</th>
        </tr>
        {% for number in range(page.lines|count) %}
        <tr>
            <td>{{ form['line-%s'%number](size=80) }}</td>
            <td align="center">{{ form['line-%s-m'%number]() }}</td>
            <td align="center">{{ form['line-%s-n'%number]() }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>{{ form.save }}</td>
            <td>{{ form.finalise }}</td>
        </tr>
    </table>
</form>
</body>
</html>