<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stage 1</title>
</head>
<body>
<h1>OCR Training Tool</h1>
{% if current_user.is_authenticated %}
  Logged in as: {{ current_user.username }} (<a href="/logout">Log Out</a>)<br />
{% endif %}
{% if other_users %}<h2>This page is currently being edited by {{ other_users.username }}, your changes may be overwritten</h2>{% endif %}
<form method="POST" action="/edit/{{ page.id }}/stage1">
    <table border="1">
        <tr>
            <th>Original Image</th>
            <th colspan="2">Cropped Image</th>
        </tr>
        <tr>
            <td rowspan="0"><img src="{{  url_for('static', filename='images/%s/%s.jpg'%(page.dirpath, page.id)) }}" /></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><img src="{{  url_for('static', filename='images/%s/%s.crop.png'%(page.dirpath, page.id)) }}" /></td>
        </tr>
    {% for field in form %}
        {% if field.id != "csrf_token" %}
        <tr>
            <td>{{ field.label }}</td>
            <td>{{ field() }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</form>
</body>
</html>