<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stage 3</title>
</head>
<body>
<h1>OCR Training Tool</h1>
{% if current_user.is_authenticated %}
  Logged in as: {{ current_user.username }} (<a href="/logout">Log Out</a>)<br />
{% endif %}
{% if other_users %}<h2>This page is currently being edited by {{ other_users.username }}, your changes may be overwritten</h2>{% endif %}
<form method="POST" action="/edit/{{ page.id }}/stage3">
    <table border="1">
        <tr>
            <td rowspan="0"><img src="{{  url_for('static', filename='images/%s/%s.jpg'%(page.dirpath, page.id)) }}" /></td>
        </tr>
        <tr>
            <td colspan="3">
                {% for line in page.lines %}
                {{ line.corrected }}<br />
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>{{ form.stage1 }}</td>
            <td>{{ form.stage2 }}</td>
            <td>{{ form.finalise }}</td>
        </tr>
    </table>
</form>
</body>
</html>